<!DOCTYPE html>
<html lang="en">
<head>
    <title>VIRTUAL SCIENCE EXPO</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="img/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jersey+25&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
</head>
<body>
    <div>
    <nav>
        <h1 class="head">VIRTUAL SCIENCE EXPO</h1> 
       
        <ul>
            <li id="home" class="box"><a href="/"> Home</a></li>
            <li id="login" class="box"><a href="/s1/api/signup">Login</a></li>
            <li id="about" class="box">About Us</li>
            <li id="contact" class="box"><a href="/s1/api/contact">Contact Us</a></li>
            <li>
                <input type="search" class="search-bar" placeholder="search">
                <button type="button" class="search-button">Search</button>
            </li>
        </ul>
    </nav>
    </div>
    <div class="about1">
        <h1 id="ab">About Us</h1>
        <h2 id="ab1">Welcome to the Virtual Science Expo! 🌟🔬</h2>
        <h1 id="ab2">Our Mission</h1>
        <p id="ab3">At the Virtual Science Expo, we believe that curiosity knows no boundaries. Our mission is to ignite the spark of scientific inquiry, foster creativity, and celebrate the remarkable achievements of young minds. Whether you’re a budding scientist, an enthusiastic educator, or a curious community member, this platform is for you!</p>
    </div>
    <div class="about2">
        <h1 id="ab21">Who We Are</h1>
        <p id="ab22">Passionate Educators: Our team of dedicated educators and science enthusiasts is committed to nurturing the next generation of innovators.
            Inspired Students: The heart of our expo lies in the brilliant projects created by students like you. Your curiosity fuels our excitement!
            Supportive Community: We’re more than just an event; we’re a community that thrives on collaboration, encouragement, and shared wonder.</p>
    </div>
    <div class="about3">
        <h1 id="ab31">Join Us!</h1>
        <p id="ab32">Whether you’re a student, teacher, parent, or science aficionado, the Virtual Science Expo invites you to explore, learn, and celebrate the wonders of discovery. Let’s embark on this scientific journey together!</p>
    </div>