<!DOCTYPE html>
<html lang="en">
<head>
    <title>VIRTUAL SCIENCE EXPO</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jersey+25&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">   
</head>
<body>
    <div>
    <nav>
        <h1 class="head">VIRTUAL SCIENCE EXPO</h1> 
       
        <ul>
            <li id="home"><a href="/"> Home</a></li>
            <li id="register">Register</li>
            <li id="signup">Sign-In</li>
            <li id="about">About Us</li>
            <li id="contact"><a href="/s1/api/contact">Contact Us</a></li>
            <li>
                <input type="search" class="search-bar" placeholder="search">
                <button type="button" class="search-button">Search</button>
            </li>
        </ul>
    </nav>
    </div>  
    <div id="contact-us">
        <h2>Contact Us</h2>
        <p>If you have any questions or inquiries, feel free to reach out to us:</p>
        <ul class="address">
            <li>Email: info@virtualscienceexpo.com</li><br>
            <li>Phone: +1 (123) 456-7890</li><br>
            <li>Address: 123,Chennai,India</li>
        </ul>
        <form action="#" method="post">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="message">Message:</label><br>
            <textarea id="message" name="message" required></textarea><br>
            <input type="submit" value="Submit">
        </form>
    </div>