<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="Stylesheet" href="style.css">
    <link rel="logo" href="Logo.jpeg">
</head>
<body>
   
    <img src="Logo.jpeg">
    <div class="container">
        
        <form id="login-form">
            
            <h2>Login</h2>
            <label for="USERNAME">Username/Email</label><br>
            <input type="text" id="USERNAME" name="USERNAME" required><br>
            <label type="PASSWORD">Password</label><br>
            <input type="password" id="PASSWORD" name="PASSWORD" required><br>
            <button type="submit">Login</button><br>
            <p>Don't have an account? <a href="#" onclick="toggleForm()">Sign Up</a></p>
            
        </form>
        <form id="signup-form" style="display: none;">
                <h2 class="header">SIGN UP</h2>
            
                <label for="username">Username</label>
                <br>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="Email" >Email </label>
                <br>
                <input type="email" id="email" name="email" required>
                <br>
                <label for="password">Password</label>
                <br>
                <input type="password" id="password" name="password" required>
                <div id="password-error" class="error-message"></div>
                <br>
                <label for="confirmpassword">Confirm Password</label>
                <br>
                <input type="password" id="confirmpassword" name="confirmpassword" required>
                <div id="confirmpassword-error" class="error-message"></div>
                <br>
                <button type="submit">SIGN UP</button>
            </form>

    </div>
    <script src="signup.js"></script>
    
</body>
</html>