<!DOCTYPE html>
<html lang="en">
<head>
    <title>VIRTUAL SCIENCE EXPO</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="img/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jersey+25&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
</head>
<body>
    <div>
    <nav>
        <h1 class="head">VIRTUAL SCIENCE EXPO</h1> 
       
        <ul>
            <li id="home" class="box"><a href="/"> Home</a></li>
            <li id="login" class="box"><a href="/s1/api/signup">Login</a></li>
            <li id="about" class="box"><a href="/s1/api/about">About Us</a></li>
            <li id="contact" class="box"><a href="/s1/api/contact">Contact Us</a></li>
            <li id="contact" class="box"><a href="/chat">Chat</a></li>
            
        </ul>
    </nav>
    </div>  
    <div id="contact-us">
        <h2>Contact Us</h2>
        <p>If you have any questions or inquiries, feel free to reach out to us:</p>
        <ul class="address">
            <li>Email: info@virtualscienceexpo.com</li><br>
            <li>Phone: +1 (123) 456-7890</li><br>
            <li>Address: 123,Chennai,India</li>
        </ul>
        <form action="#" method="post" onsubmit="resetForm(event)">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="message">Message:</label><br>
            <textarea id="message" name="message" required></textarea><br>
            <input type="submit" value="Submit">
        </form>
        <div>
            <h2 >©virtualscienceexpo2024</h2>
            <div>
            <a href="#" id="face" class="fa fa-facebook"></a>
            <a href="#" id="tweet" class="fa fa-twitter"></a>
            <a href="#" id="linkedin" class="fa fa-linkedin"></a>
            </div>
    </div>
    <script>
        function resetForm(event) {
            event.preventDefault(); // Prevent the form from submitting
            event.target.reset(); // Reset the form fields
            // Optionally, add a message to confirm form submission
            alert('Your message has been sent successfully!');
        }
    </script>
    </body>
    </html>
    