<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIRTUAL SCIENCE EXPO</title>
    <link rel="stylesheet" href="style.css">
   
</head>
<body>
    <div class="logo">
                 <img src="logo.png">
    <nav>
        <ul>
            <li>
                <a href="register">Register</a>
            </li>
            <li>
                <a href="sign">Sign up</a>
            </li>
            <li>
                <a href="abt">About us</a>
            </li>
            <li>
                <a href="con">Contact us</a>
            </li>
        </ul>
    </nav>
    </div>
    
    <div class="intro-container">
        <img class="intro"  src="img1.jpg">
        <h1>Welcome to VIRTUAL SCIENCE EXPO</h1>
        <h3> where innovation meets exploration in the digital realm! Dive into a world of discovery as we showcase groundbreaking scientific research, cutting-edge technologies, and awe-inspiring experiments, all accessible from the comfort of your own device. From exploring the mysteries of the universe to delving into the intricacies of biology and beyond, our expo offers a dynamic platform for enthusiasts, professionals, and curious minds alike to engage, learn, and be inspired. Join us on this immersive journey as we celebrate the wonders of science and push the boundaries of knowledge together.</h3>
        
    </div>
    <div class="intro2"></div>
   
    


  



</body>
</html>