body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.logo {
    background-color:black;
    color: #fff;

    
    
}
img{
    height: 100px;
    width: 300px;
    

}
ul,li{
    display: inline;
    color: white;
    margin: 10px;
   

}
nav{
    margin-left: 70%;
    
    
  
}
a:hover{
    cursor:pointer;
    color: red;

}
a{
    text-decoration: none;
    color: white;
}
.intro{
height:550px;
width: 100%;


}
.intro {
    position: relative;
}

.intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center; 
    z-index: 1;
    filter: blur(8px);
    
}

h1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center; 
    z-index: 1;


}
h3{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center; 
    z-index: 1;
    border-style: solid;
    border-color: white;
    padding: 20px;
    background-color: whitergba(255, 255, 255, 0.7);
    border-radius: 10px;
    backdrop-filter: blur(50px);
  
  
}
.intro2{
    background-color: black;
    color: white;
    margin-top: 34%;
    height: 500px;
    width: 500px;

}


   




